<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frogroid @ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-cloak>
        <div layout="column">
            <md-toolbar>

                <div class="md-toolbar-tools">
                    <h2 md-truncate flex>Frogroid</h2>
                </div>

            </md-toolbar>
        </div>
        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')"
                        md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <div layout="column" layout-align="center center">
                        <div flex="50">
                            <h1 class="md-toolbar-tools" flex="50">{{username}}</h1>
                        </div>
                        <div class="md-media-sm card-media" flex="50">
                            <img src="{{profilePic}}" class="md-avatar" alt="{{username}}" ng-style="avatar_style" />
                        </div>
                    </div>
                </md-toolbar>
                <md-content layout-padding ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide show-gt-md>
                        <section layout="row" layout-align="center center" layout-wrap>
                            <md-button flex="100" href="@Url.Action("Login", "Auth")">
                                Login
                            </md-button>
                            <md-button flex="100" href="@Url.Action("Followers", "Bio")">
                                Follwers
                            </md-button>
                            <md-button flex="100" ng-href="{{googleUrl}}" target="_blank">Default Link</md-button>

                        </section>
                        @*<md-button>
                                @Html.ActionLink("Home", "Index", "Home")
                            </md-button>
                            <md-button>
                                @Html.ActionLink("About", "About", "Home")
                            </md-button>
                            <md-button>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </md-button>
                            <md-button href="@Url.Action("Login", "Home")">
                                Login
                            </md-button>*@
                    </p>
                </md-content>

            </md-sidenav>
            <md-content flex layout-padding>

                <div layout="column" layout-align="top center">
                    <div>
                        <md-button ng-click="toggleLeft()"
                                   class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    @RenderBody()
                </div>

                <div flex></div>


            </md-content>

            @*<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

                    <md-toolbar class="md-theme-light">
                        <h1 class="md-toolbar-tools">Sidenav Right</h1>
                    </md-toolbar>
                    <md-content ng-controller="RightCtrl" layout-padding>
                        <form>
                            <md-input-container>
                                <label for="testInput">Test input</label>
                                <input type="text" id="testInput"
                                       ng-model="data" md-autofocus>
                            </md-input-container>
                        </form>
                        <md-button ng-click="close()" class="md-primary">
                            Close Sidenav Right
                        </md-button>
                    </md-content>

                </md-sidenav>*@

        </section>

    </div>
    @Scripts.Render("~/Scripts/jquery")

    @Scripts.Render("~/Scripts/angularjs")
    @Scripts.Render("~/bundles/maincontroller")
    @RenderSection("scripts", required: false)
</body>
</html>
